<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/styles.css">
    <link rel="stylesheet" href="../css/main.css">
    <link type="text/css" rel="stylesheet" href="../css/jalalidatepicker.min.css" />
    <script type="text/javascript" src="../js/jalalidatepicker.min.js"></script>
    <script src="../js/sweetalert2.min.js"></script>
    <link rel="stylesheet" href="../css/sweetalert2.min.css">
    <script src="../js/timer.js"></script>
    <link rel="stylesheet" href="../css/boxicons.min.css">
    <script src="../js/wordifyfa.js"></script>
    <title> mivandar</title>
</head>

<body class="bg-gray" onload=loads()>
    <div class="hidden">
        <span id="icon"><%= statusAlert %></span>
        <span id="title"><%= alert%></span>
    </div>
    <%- include('./functions.ejs') -%>