<div class="flex w-full ju-sb border h-50 bg-white shadow ">
    <div class="flex">
        <img class="h-30 mx-10" src="../img/icon.png">
        <h3 class="">میواندار</h3>
    </div>
    <span class="rtl" id='ct'></span>
    <div class="flex ">
        <img class="h-30 rounded" src="../img/user-temp.png">
        <div class="mx-10">
            <p class="line-h">مبین مرادی</p>
            <p class="grey f-s line-h">مهماندار</p>
        </div>
    </div>
</div>