<div class="bg-white m-table br-8 p-20">
    <div class="flex ju-sb ">
        <h3>رزرواسیون</h3>
        <a class="btn  btn-blue btn-sm" href="#">افزودن جدید</a>
    </div>
    <div></div>
    <div>
        <table class=" m-25 w-full f-s">
            <tr>
                <th>#</th>
                <th>نام مشتری</th>
                <th>شماره تماس</th>
                <th>شناسه اتاق</th>
                <th>تاریخ ورود</th>
                <th>تاریخ خروج</th>
                <th>وضعیت</th>
                <th>عملیات ها</th>

            </tr>
            <tbody>
                <tr>
                    <td>1</td>
                    <td>حبیب الله حبیبی</td>
                    <td>+09035687570</td>
                    <td>253</td>
                    <td>22/11/1401</td>
                    <td>23/11/1401</td>
                    <td class="flex ju-ce">
                        <p class="status-cell bg-yellow">پرداخت نشده</p>
                    </td>
                    <td>
                        <i class='bx bxs-wallet bg-green'></i>
                        <i class='bx bxs-info-circle bg-sky'></i>
                        <i class='bx bxs-edit-alt bg-purple'></i>
                        <i class='bx bxs-trash-alt bg-red'></i>
                    </td>
                </tr>
                <tr>
                    <td>1</td>
                    <td>حبیب الله حبیبی</td>
                    <td>+09035687570</td>
                    <td>253</td>
                    <td>22/11/1401</td>
                    <td>23/11/1401</td>
                    <td class="flex ju-ce">
                        <p class="status-cell bg-yellow">پرداخت نشده</p>
                    </td>
                    <td>
                        <i class='bx bxs-wallet bg-green'></i>
                        <i class='bx bxs-info-circle bg-sky'></i>
                        <i class='bx bxs-edit-alt bg-purple'></i>
                        <i class='bx bxs-trash-alt bg-red'></i>
                    </td>
                </tr>
                <tr>
                    <td>1</td>
                    <td>حبیب الله حبیبی</td>
                    <td>+09035687570</td>
                    <td>253</td>
                    <td>22/11/1401</td>
                    <td>23/11/1401</td>
                    <td class="flex ju-ce">
                        <p class="status-cell bg-green">پرداخت نشده</p>
                    </td>
                    <td>
                        <i class='bx bxs-wallet bg-green'></i>
                        <i class='bx bxs-info-circle bg-sky'></i>
                        <i class='bx bxs-edit-alt bg-purple'></i>
                        <i class='bx bxs-trash-alt bg-red'></i>
                    </td>
                </tr>
                <tr>
                    <td>1</td>
                    <td>حبیب الله حبیبی</td>
                    <td>+09035687570</td>
                    <td>253</td>
                    <td>22/11/1401</td>
                    <td>23/11/1401</td>
                    <td class="flex ju-ce">
                        <p class="status-cell bg-green">پرداخت نشده</p>
                    </td>
                    <td>
                        <i class='bx bxs-wallet bg-green'></i>
                        <i class='bx bxs-info-circle bg-sky'></i>
                        <i class='bx bxs-edit-alt bg-purple'></i>
                        <i class='bx bxs-trash-alt bg-red'></i>
                    </td>
                </tr>
            </tbody>

        </table>
    </div>
    <div></div>
</div>